# Local secret variable assignments (Contains your live API tokens)
*.tfvars
*.tfvars.json
*.pkrvars.hcl
*.tfvars.hcl

# Local Terraform execution cache and plugin binaries
.terraform/
.terraform.lock.hcl

# Local state tracking files (Can contain plain-text parsed secrets)
*.tfstate
*.tfstate.*

# Crash logs and developer overrides
crash.log
*.tfplan

# IDE and editor specific files
.vscode/
.idea/

# Ignore the directory where ISO images are downloaded for VM provisioning
downloaded_iso_path/
